* {
    box-sizing: border-box;
    
}

 .card
{       display:flex;
        justify-content: space-around;   
        flex-direction:row;
        flex-wrap: wrap; 
        align-content: stretch;  
        margin: 1rem;
}

.titulos-productos {
    color:black
}

.descripcion {
    font-size: 1em;
    margin: auto;
    width: 300px; 
}

.btn-stock {
    display:inline-flex;
}

