* {
    box-sizing: border-box;
}

 .card
{       display:flex;
        justify-content: space-around;   
        flex-direction:row;
        flex-wrap: wrap; 
        margin: 0.5rem;
}

.column {
    width: 300px; 
}

.titulos-productos {
    font-family: "Merriweather", serif;
    color:#acbc9c;
    font-size: 0.7em;
}

.titulos-productos2 {
    font-family: "Merriweather", serif;
    color:#acbc9c;
    font-size: 2em;
}

.precioPlanta {
    font-family: "Merriweather", serif;
    color:#acbc9c;
    font-size: 1.5em;
}

.consejos {
    margin-top: 1.5em;
    font-family: "Merriweather", serif;
    color:#acbc9c;
    font-size: 1.3em;
}
.compartir{
    font-family: "Merriweather", serif;
    color:#ce99b8;
    font-size: 1.2em;
}

.social-icons {
    text-decoration: none; 
    color:grey;
    font-size: 0.9em
}
.btn-stock {
    margin:auto;
    display:inline-flex;
}

.botonRestar {
    color:white;
    background-color:#ce99b8;
    border-radius: 2em;
    border-color: #acbc9c;
}

.botonSumar {
    color:white;
    background-color:#ce99b8;
    border-radius: 2em;
    border-color: #acbc9c;
}

.numero {
    margin:0.5em;
}

.btn-shop {
    margin-left:1.5em;
    font-size: 0.8em;
    background-color:#ce99b8;
    border-radius: 2em;
    font-family: 'Open Sans';
    border-color: #acbc9c;
    color:white;
    font-size: 0.8em;
}

.btn-info{
    color:white;
    font-size: 0.8em;
    background-color:#ce99b8;
    border-radius: 2em;
    font-family: 'Open Sans';
    border-color: #acbc9c;
    margin-bottom: 1em;
    margin-top: 0.5em
}

.btn-info:hover {
    background-color:#acbc9c;
    border-color: #ce99b8;
}

.precio {
    font-weight: 500;
    font-family: 'Open Sans';
}
.cantidad {
    color:grey;
    font-family: 'Open Sans';
    font-size: 0.8em
}

.title {
    color:#acbc9c;
    margin-top: 2em;
    font-family: "Merriweather", serif;
}

.descripcion {
    font-weight: 500;
    Line-height: 1.6em;
    font-size: 0.86em;
    margin: auto;
    font-family: "Open Sans";
    color:grey;
}

.consejosTexto {
        Line-height: 1.4em;
        font-size: 0.84em;
        font-family: "Open Sans";
        color:grey;
}

.title2 {
    text-align: left;
    font-size: 1.4em;
    color:#ce99b8;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: "Merriweather", serif;
}

.descripcion2 {
    Line-height: 1.6em;
    text-align: left;
    font-size: 0.9em;
    margin: auto;
    font-family: "Open Sans";
    color:grey;
}

.enviosPlantasia {
    Line-height: 1.6em;
    text-align: left;
    font-style: italic;
    font-size: 1;
    margin-bottom: 5em;
    margin-top: 1em;
    font-family: "Open Sans";
    color:grey;
}

.carousel {
    text-align: center;
    align-items: center;
  }

.carouselTitle {
    color:#ce99b8;
    font-family: "Merriweather", serif;
}

.carouselText{
    color:grey;
    font-family: "Open Sans";
}